body {
  font-family: "Roboto", sans-serif; /* Use the Google Font */
}

body {
  background: #f3f7f8 !important;
  font-size: 13px !important;
  font-weight: 500;
  font-family: "Roboto", sans-serif; /* Use the Google Font */
}

p {
  font-size: 13px;
  color: #7a7e8a;
}

a{text-decoration: none !important;}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

.osahan-nav {
  background: #fff none repeat scroll 0 0 !important;
  padding: 0;
  z-index: 9;
}

.homepage-search-block {
  background-color: #eef0ef;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-secondary {
  color: #6c757d !important;
}

/* Dropdown.css */
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.custom-dropdown select {
  appearance: none; /* Remove the default caret */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 9px;
  width: 170px;
  font-size: 16px;
  border-radius: 4px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4gPHBhdGggZD0iTTEgNGw3IDcsNy03eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position the caret icon */
  background-size: 12px;
}

.custom-dropdown select:focus {
  outline: none;
  border-color: #007bff;
}

.custom-input-field {
  padding: 10px;
  width: 100%;
}

.custom-input-container {
  position: relative;
}

.custom-input-container input {
  position: relative;
}

.locate-me {
  background: #ececec none repeat scroll 0 0;
  color: #666;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 3px;
  position: absolute;
  right: 9px;
  top: 6px;
}

.homepage-search-block .btn {
   font-size: 15px;
    font-weight: 600;
    height: auto;
    padding: 10px;
    width: 100%;
    border-radius: 0;
}

.btn,
.form-control {
  border-radius: 2px;
}

.badge-danger,
.btn-primary {
  background-color: #ff3008 !important;
  border-color: #ff3008 !important;
}


.slider-container .slick-slide img{width: 100%;}
.grid-product-sldier .slick-slide{margin: 5px 2px;}
.osahan-category-item {
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
  padding: 7px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  border: 1px solid #fff;
}

.osahan-category-item img {
  width: 40px !important;
  height: 40px;
  object-fit: cover;
  display: inline-block !important;
  border-radius: 50px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  margin: 2px 0 8px;
}


.osahan-category-item h6 {
  margin: 0;
  font-size: 13px;
  color: #ff3008;
}

.osahan-category-item a{text-decoration: none;}

.osahan-category-item p{margin-bottom: 0;color: #7a7e8a;font-size: 12px;}



.slick-arrow{
  bottom: calc(50% - 20px);
  border-radius: 30px !important;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
  color: #000 !important;
  height: 40px !important;
  line-height: 40px;
  margin: 0 !important;
  text-align: center;
  text-transform: uppercase;
  width: 40px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: #fff !important;
  z-index: 99;
}

.slick-prev:before, .slick-next:before{
  color: #000 !important;
}

.grid-product-sldier .slick-arrow{
  top: 25% !important;
  transform: translate(0, -22px) !important;
}

.h-0{height: 0;}

.line {
  background-color: #5e5e5e;
  border-radius: 12px;
  display: inline-table;
  height: 4px;
  margin: 0 0 51px;
  width: 50px;
}

.list-card .list-card-image {
  position: relative;
}

.position-absolute {
  position: absolute !important;
}

.position-absolute {
  z-index: 1;
}

.list-card .star {
  right: 8px;
  bottom: 10px;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-success, .btn-success {
  background-color: #3ecf8e !important;
  border-color: #3ecf8e !important;
}

.list-card .star .badge {
  font-size: 11px;
  padding: 5px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.list-card .member-plan {
  left: 8px;
  top: 8px;
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

.list-card .member-plan .badge {
  font-size: 11px;
  padding: 5px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.list-card a {
  color: inherit;
  text-decoration: none;
}

.list-card p {
  font-size: 13px;
  color: #7a7e8a;
}

.brand-slider .slick-slide {
  padding: 6px 7px;
}

.small, small {
  font-size: 85%;
  font-weight: 600;
}
.badge{
  border-radius: 2px !important;
}.slick-track .slick-slide:nth-child(odd) .badge-dark{
  background-color: #ff3008;
}

.footer {
  background: #edf1f4;
}

.footer h6 {
  font-size: 14px;
  text-transform: uppercase;
}

.text-info {
  color: #17a2b8 !important;
}

.footer p a{
  outline: none !important;
  color: #ff3008;
  text-decoration: none !important;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  line-height: 26px;
  list-style: outside none none;
}
.footer ul li a {
  color: #6c8293;
  text-decoration: none;
}

.active.nav-link {
  font-weight: bold;
  color: #ff3008 !important;
}
.error {
  color: red;
  font-size: 12px;
}
.bg-image{
  background-image:url('../src/assets/login-bg.png');
  background-size: cover;
  background-position: 50%;
}
.login-heading {
  font-weight: 300;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-custum-control {
  font-size: 13px;
  min-height: 38px;
  width: 100%;
}

.form-label-group>input, .form-label-group>label {
  padding: 15px 0;
  border-radius: 0;
  height: 51px;
  background: transparent !important;
  border: none;
  border-bottom: 1px solid #ced4da;
  box-shadow: none !important;
  width: 100%;
}
.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  cursor: text;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  font-size: 15px !important;
  font-weight: 700 !important;
  padding: 14px 35px !important;
  letter-spacing: 1px;
}

.btn-outline-primary {
  color: #ff3008 !important;
  border-color: #ff3008 !important;
}

.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  color: #fff !important;
  border-color: #ff3008 !important;
  background-color: #ff3008 !important;
}

input:focus-visible{outline-offset: 0 !important;outline: none !important;}
label:focus-visible{outline-offset: 0;outline: none;}

.form-label-group .form-label.active{
  font-size: 9px;
}

@media (max-width: 575.98px) {
  .mobile-none {
      display: none;
  }
}